<div class="d-flex flex-column w-100">
    <div id="content">
        <div class="container-fluid">
          <h1 class=" text-title-stock text-white"> <%= @stock.name %></h1>
          <div class="d-flex justify-content-end">

          </div>
            <div class="row mb-3 mt-5">
                <div class="col-lg-4 d-flex flex-column justify-content-between">
                    <div class="card mb-3">
                      <div class="card-header card-header-stock py-3">
                        <h6 class="text-primary font-weight-bold m-0">Last 16 Closing Values</h6>
                      </div>
                      <div class="card-body card-body-stock text-center shadow">
                      <% stock_by_day = Hash[(1..@stock.array_stock.size).to_a.reverse.zip @stock.array_stock] %>
                      <%= line_chart stock_by_day, adapter: "google", xtitle: "Days Ago", ytitle: "Previous Close", library: { hAxis: {direction: -1}, backgroundColor: { fill:'transparent' }  }, colors: ["#b00", "#666"]  %>
                      </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header card-header-stock py-3">
                            <h6 class="text-primary font-weight-bold m-0">News</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header card-header-stock py-3 d-flex justify-content-between ">
                                    <h4 class="text-primary m-0 font-weight-bold "> Stock Info </h4>
                                </div>
                                <div class="card-body card-body-stock">

                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Symbol</strong></label><p> <%= @stock.symbol %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Primary Exchange</strong></label><p> <%= @stock.primary_exchange %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Country</strong></label><p> <%= @stock.country %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Price Now</strong></label><p> <%= "R$#{@stock.price_now}" %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Previous Close</strong></label><p> <%= "R$#{@stock.previous_close}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Day Range</strong></label><p> <%= "R$#{@stock.day_range_low} - R$#{@stock.day_range_high}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Year Range</strong></label><p> <%= "R$#{@stock.year_range_low} - R$#{@stock.year_range_high}" %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Market Cap</strong></label><p> <%= @stock.market_cap %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Volume</strong></label><p> <%= @stock.volume %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">P/E Ratio</strong></label><p> <%= @stock.pe_ratio %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Dividend Yield</strong></label><p> <%= @stock.dividend_yield %> </p></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="card shadow">
                                <div class="card-header card-header-stock py-3">
                                    <p class="text-primary m-0 font-weight-bold">Pointers</p>
                                </div>
                                <div class="card-body card-body-stock">
                                        <%  stock_res = calculate(@stock) %>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Pointer Before - Current</strong></label><p> <%= "R$#{stock_res.before_price.round(2)} - R$#{stock_res.current_price.round(2)}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">MMS5 Before and Current</strong></label><p> <%= "R$#{stock_res.mms5_before.round(2)} - R$#{stock_res.mms5_current.round(2)}" %> </p></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">MMS14 Before - Current</strong></label><p> <%= "R$#{stock_res.mms14_before.round(2)} - R$#{stock_res.mms14_current.round(2)}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">IFR Before and Current</strong></label><p> <%= "R$#{stock_res.ifr_before.round(2)} - R$#{stock_res.ifr_current.round(2)}" %> </p></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
