<div class="d-flex flex-column w-100">
    <div id="content">
        <div class="container-fluid">
          <h1 class=" text-title-stock text-white"> <%= @stock.name %></h1>
          <div class="d-flex justify-content-end">
            <%= form_with(url: search_path,
              method: "get",
              html: {class: "form-inline d-none d-sm-inline-block ml-md-3 my-md-0 mw-100 navbar-search"}
              ) do |f| %>
                <%= f.text_field :query,
                    class: "form-control rounded-pill",
                    id: "search-bar",
                    placeholder: "Find Stock"
                %>
                <%= f.submit "Stock", class: "btn btn-light action-button text-white" %>
              <% end %>
          </div>
            <div class="row mb-3 mt-5">
                <div class="col-lg-4 d-flex flex-column justify-content-between">
                    <div class="card mb-3">
                      <div class="card-header card-header-stock py-3">
                        <h6 class="text-primary font-weight-bold m-0">Description</h6>
                      </div>
                      <div class="card-body card-body-stock text-center shadow"> <%= @stock.description %> </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-header card-header-stock py-3">
                            <h6 class="text-primary font-weight-bold m-0">Projects</h6>
                        </div>
                        <div class="card-body card-body-stock ">
                            <h4 class="small font-weight-bold text-primary">Server migration<span class="float-right">20%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Sales tracking<span class="float-right">40%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Customer Database<span class="float-right">60%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Payout Details<span class="float-right">80%</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                            </div>
                            <h4 class="small font-weight-bold text-primary">Account setup<span class="float-right">Complete!</span></h4>
                            <div class="progress progress-sm mb-3">
                                <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header card-header-stock py-3 d-flex justify-content-between ">
                                    <h4 class="text-primary m-0 font-weight-bold "> Stock Info </h4>
                                    <div class="form-group">
                                      <button class="btn btn-light action-button sign-up" id="stock-button" type="submit">Add&nbsp;to Wallet</button>
                                    </div>
                                </div>
                                <div class="card-body card-body-stock">

                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Symbol</strong></label><p> <%= @stock.symbol %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Primary Exchange</strong></label><p> <%= @stock.primary_exchange %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Country</strong></label><p> <%= @stock.country %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Price Now</strong></label><p> <%= "R$#{@stock.price_now}" %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Previous Close</strong></label><p> <%= "R$#{@stock.previous_close}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Day Range</strong></label><p> <%= "R$#{@stock.day_range_low} - R$#{@stock.day_range_high}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Year Range</strong></label><p> <%= "R$#{@stock.year_range_low} - R$#{@stock.year_range_high}" %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Market Cap</strong></label><p> <%= @stock.market_cap %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Volume</strong></label><p> <%= @stock.volume %> </p></div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">P/E Ratio</strong></label><p> <%= @stock.pe_ratio %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">Dividend Yield</strong></label><p> <%= @stock.dividend_yield %> </p></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="card shadow">
                                <div class="card-header card-header-stock py-3">
                                    <p class="text-primary m-0 font-weight-bold">Your Investment</p>
                                </div>
                                <div class="card-body card-body-stock">
                                            <% before_price =  @stock.array_stock[-2] %>
                                            <% current_price = @stock.array_stock[-1] %>
                                            <% mms5_before = @stock.array_stock[10..14].sum / 5 %>
                                            <% mms5_current = @stock.array_stock[11..15].sum / 5 %>
                                            <% mms14_before = @stock.array_stock[1..14].sum / 14 %>
                                            <% mms14_current = @stock.array_stock[2..15].sum / 14 %>
                                            <% diff_stock_before = Array.new(14) {0} %>
                                            <% gain_stock_before = Array.new(14) {0} %>
                                            <% loss_stock_before = Array.new(14) {0} %>
                                            <% diff_stock_current = Array.new(14) {0} %>
                                            <% gain_stock_current = Array.new(14) {0} %>
                                            <% loss_stock_current = Array.new(14) {0} %>
                                            <% diff_stock_before.each_index do |i| %>
                                              <% diff_stock_before[i] = @stock.array_stock[i+1] - @stock.array_stock[i] %>

                                              <% diff_stock_before[i] > 0 ? gain_stock_before[i] = diff_stock_before[i] : gain_stock_before[i] = 0 %>
                                              <% diff_stock_before[i] < 0 ? loss_stock_before[i] = diff_stock_before[i].abs : loss_stock_before[i] = 0 %>
                                              <% diff_stock_current[i+1] = @stock.array_stock[i+2] - @stock.array_stock[i+1] %>
                                              <% diff_stock_current[i+1] > 0 ? gain_stock_current[i+1] = diff_stock_current[i+1] : gain_stock_current[i+1] = 0 %>
                                              <% diff_stock_current[i+1] < 0 ? loss_stock_current[i+1] = diff_stock_current[i+1].abs : loss_stock_current[i+1] = 0 %>
                                            <% end %>
                                            <% average_gain_before = gain_stock_before.sum / gain_stock_before.length %>
                                            <% average_loss_before = loss_stock_before.sum / loss_stock_before.length %>
                                            <% average_gain_current = gain_stock_current.sum / gain_stock_current.length %>
                                            <% average_loss_current = loss_stock_current.sum / loss_stock_current.length %>
                                            <% average_loss_before.zero? ? fr_before = 0 : fr_before = average_gain_before / average_loss_before %>
                                            <% average_loss_current.zero? ? fr_current = 0 : fr_current = average_gain_current / average_loss_current %>
                                            <% fr_before.zero? ? ifr_before = "" : ifr_before = 100 - ( 100 / ( 1 + fr_before)) %>
                                            <% fr_current.zero? ? ifr_current = "" : ifr_current = 100 - ( 100 / ( 1 + fr_current)) %>

                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">Pointer Before - Current</strong></label><p> <%= "R$#{@stock.array_stock[-2].round(2)} - R$#{@stock.array_stock[-1].round(2)}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">MMS5 Before and Current</strong></label><p> <%= "R$#{mms5_before.round(2)} - R$#{mms5_current.round(2)}" %> </p></div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <div><strong class="text-primary">MMS14 Before - Current</strong></label><p> <%= "R$#{mms14_before.round(2)} - R$#{mms14_current.round(2)}" %> </p></div>
                                            </div>
                                            <div class="col">
                                                <div><strong class="text-primary">IFR Before and Current</strong></label><p> <%= "R$#{ifr_before.round(2)} - R$#{ifr_current.round(2)}" %> </p></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
