<nav class="navbar navbar-dark navbar-expand-md navigation-clean-search w-100" id="navbarhome">
  <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class=" d-inline-flex justify-content-center align-items-center">
            <i class="fas fa-dice-d20 fa-3x mr-2"></i><h2 class="mb-0">RoboInvest</h2>
        </div>
      <% end %>
    <div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <%= form_with(url: search_path,
            method: "get",
            html: {class: "form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"}
            ) do |f| %>
            <%= f.text_field :query,
                  class: "form-control rounded-pill",
                  id: "search-bar",
                  placeholder: "Find Stock"
                %>
                <%= f.submit "Stock", class: "btn btn-light action-button text-white" %>
            <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <div>
        <span class="navbar-text"><%= link_to "Logout", destroy_user_session_path, class: "login", method: :delete %></span>
      </div>
    <% else %>
      <div>
        <span class="navbar-text"><%= link_to "Login", new_user_session_path, class: "login" %></span>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-light action-button sign-up" %>
      </div>
    <% end %>
  </div>
</nav>
