
<div>
    <div class='wallet-container' id="content">
        <div class="container-fluid bg-transparent col-md">
          <div class="welcome d-flex justify-content-center mb-5 mt-3"> Your Wallets <i class="fas fa-wallet ml-2 mt-2"></i></div>
            <div class="stocks-sample d-flex">
              <div class="card-deck w-100 mb-4 d-flex justify-content-between">
                <% @wallets.sample(3).each do |wallet| %>
                <% calculate_profit(wallet) %>
                <div class="graph-card card card-img">
                  <%= pie_chart({"Profit" => wallet.profit.round(2), "Invested Money" => wallet.invested_money.round(2)}, adapter: "google",  library: { hAxis: {direction: -1}, backgroundColor: { fill:'transparent' }  }) %>
                  <div class="card-footer d-flex justify-content-center">
                    <small class="text-muted"><%= wallet.name %></small>
                  </div>
                </div>
                <% end %>
              </div>
            </div>

            <div class="wallet-card card shadow">
                <div class="wallet-title card-header py-4 mb-2">
                  <a href="/wallets/new"> Add Wallet <i class="fas fa-plus"></i> </a>
                </div>
                <div class="card-body">
                    <div class="row search-row">
                        <div class="col-lg-5  text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                              <label>&nbsp;
                                    <select class="form-control form-control-sm custom-select custom-select-sm" id="walletfilterselect">
                                        <option value="100" selected=""> Filtro </option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                    </select>&nbsp;</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="text-md-right dataTables_filter" id="dataTable_filter"><label>
                            <input id="walletfiltersearch" type="search" action= "/wallets" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" > </label></div>
                          </div>
                       </div>
                    <div class="table-responsive table mt-3 " id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr class="column-title text-lg-center">
                                    <th id="column-title">Name</th>
                                    <th id="column-title">Invested Money <i class="fas fa-coins ml-2"></i></th>
                                    <th id="column-title">Profit <i class="fas fa-chart-line ml-2"></i></th>
                                    <th id="column-title">Creation Date <i class="far fa-calendar-alt ml-2"></i></th>
                                </tr>
                            </thead>
                            <tbody id="wallet-table">
                              <% @wallets.each do |wallet| %>
                                <% calculate_profit(wallet) %>
                                <tr class="text-lg-center">
                                  <td class="text-left "><img class="rounded-circle mr-2" width="30" height="30" src= <%=wallet.img_url%>> <%= link_to wallet.name, wallet %> </td>
                                  <td class="table-info">$<%= wallet.invested_money.round(2) %></td>
                                  <td class="table-info">$<%= wallet.profit.round(2) %></td>
                                  <td class="table-info"><%= wallet.created_at.strftime("%m/%d/%y") %></td>
                                  <td class="table-info"><%= link_to wallet, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                    <i class="fas fa-trash-alt color-trash"></i>
                                    <%end%>
                                  </td>
                                </tr>
                              <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
