<div class="d-flex flex-column" >
    <div id="content">
        <div class="container-fluid">
            <h3 class="text-dark mb-4"> Welcome FULANO  current_user.nickname fazer a parte do login</h3>
            <div>
              <p>adicionar graficos bonitinhos</p>
            </div>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold"> My Wallets <i class="fas fa-wallet"></i> </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-5  text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                              <label>Show&nbsp;
                                    <select class="form-control form-control-sm custom-select custom-select-sm" id="walletfilterselect">
                                        <option value="100" selected=""> Filtro </option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>&nbsp;</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-right dataTables_filter" id="dataTable_filter"><label>
                            <input id="walletfiltersearch" type="search" action= "/wallets" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" > </label></div>

                        </div>
                    </div>
                    <div class="table-responsive table mt-2 " id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr class="text-lg-center">
                                    <th>Name</th>
                                    <th>Money <i class="fas fa-coins"></i></th>
                                    <th>Invested Money</th>
                                    <th>Profit <i class="fas fa-chart-line"></i></th>
                                    <th>Creation Date <i class="far fa-calendar-alt"></i></th>
                                </tr>
                            </thead>
                            <tbody id="wallet-table">
                              <% @wallets.each do |wallet| %>
                                <tr class="text-lg-center">
                                  <td class="text-left"><img class="rounded-circle mr-2" width="30" height="30" src= <%=wallet.img_url%>> <%= link_to wallet.name, wallet %> </td>
                                  <td>$<%= wallet.money %></td>
                                  <td>$<%= wallet.invested_money %></td>
                                  <td>$<%= wallet.profit %></td>
                                  <td><%= wallet.created_at %></td>
                                </tr>
                              <%end%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
