        <div class="d-flex flex-column w-100" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">

                            <%= form_with(url: search_path,
                             method: "get",
                             html: {class: "form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"}
                             ) do |f| %>
                              <%= f.text_field :query,
                                    class: "form-control ",
                                    id: "search-bar",
                                    placeholder: "Find Stock"
                                  %>
                                  <%= f.submit "Stock", class: "btn btn-primary" %>
                              <% end %>

                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Team</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold"> <%= @wallet.name %> </p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table my-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Date of Purchase</th>
                                            <th>Number of Stocks</th>
                                            <th>Symbol</th>
                                            <th>Paid</th>
                                            <th>Batch Cost</th>
                                            <th>Price to Overcome</th>
                                            <th>Year Range</th>
                                            <th>Price Now</th>
                                            <th>Average</@wallet_stocktion</th>
                                            <th>Balance</th>
                                            <th>Profit</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% @wallet.wallet_stocks.each do |wallet_stock| %>
                                        <tr>
                                                    <% before_price =  wallet_stock.stock.array_stock[-2] %>
                                                    <% current_price = wallet_stock.stock.array_stock[-1] %>
                                                    <% mms5_before = wallet_stock.stock.array_stock[10..14].sum / 5 %>
                                                    <% mms5_current = wallet_stock.stock.array_stock[11..15].sum / 5 %>
                                                    <% mms14_before = wallet_stock.stock.array_stock[1..14].sum / 14 %>
                                                    <% mms14_current = wallet_stock.stock.array_stock[2..15].sum / 14 %>
                                                    <% diff_stock_before = Array.new(14) {0} %>
                                                    <% gain_stock_before = Array.new(14) {0} %>
                                                    <% loss_stock_before = Array.new(14) {0} %>
                                                    <% diff_stock_current = Array.new(14) {0} %>
                                                    <% gain_stock_current = Array.new(14) {0} %>
                                                    <% loss_stock_current = Array.new(14) {0} %>
                                                    <% diff_stock_before.each_index do |i| %>
                                                      <% diff_stock_before[i] = wallet_stock.stock.array_stock[i+1] - wallet_stock.stock.array_stock[i] %>
                                                      <% diff_stock_before[i] > 0 ? gain_stock_before[i] = diff_stock_before[i] : gain_stock_before[i] = 0 %>
                                                      <% diff_stock_before[i] < 0 ? loss_stock_before[i] = diff_stock_before[i].abs : loss_stock_before[i] = 0 %>
                                                      <% diff_stock_current[i] = wallet_stock.stock.array_stock[i+2] - wallet_stock.stock.array_stock[i+1] %>
                                                      <% diff_stock_current[i] > 0 ? gain_stock_current[i] = diff_stock_current[i] : gain_stock_current[i] = 0 %>
                                                      <% diff_stock_current[i] < 0 ? loss_stock_current[i] = diff_stock_current[i].abs : loss_stock_current[i] = 0 %>
                                                    <% end %>
                                                    <% average_gain_before = gain_stock_before.sum / gain_stock_before.length %>
                                                    <% average_loss_before = loss_stock_before.sum / loss_stock_before.length %>
                                                    <% average_gain_current = gain_stock_current.sum / gain_stock_current.length %>
                                                    <% average_loss_current = loss_stock_current.sum / loss_stock_current.length %>
                                                    <% average_loss_before.zero? ? fr_before = 0 : fr_before = average_gain_before / average_loss_before %>
                                                    <% average_loss_current.zero? ? fr_current = 0 : fr_current = average_gain_current / average_loss_current %>
                                                    <% fr_before.zero? ? ifr_before = "" : ifr_before = 100 - ( 100 / ( 1 + fr_before)) %>
                                                    <% fr_current.zero? ? ifr_current = "" : ifr_current = 100 - ( 100 / ( 1 + fr_current)) %>
                                                    <% mms5_before < mms5_current ? mms5_status = "Down" : mms5_status = "Up" %>
                                                    <% mms14_before < mms14_current ? mms14_status = "Down" : mms14_status = "Up" %>
                                                    <% mms5_current > mms14_current ? mms5_mms14_status = "Up" : mms5_mms14_status = "Down" %>
                                                    <% ifr_before < ifr_current ? ifr_status = "Down" : ifr_status = "Up" %>

                                            <td> <%= wallet_stock.date %> </td>
                                            <td><%= wallet_stock.number_of_stock %> </td>
                                            <td><%= wallet_stock.stock.symbol %> </td>
                                            <td><%= wallet_stock.investment_stock %> </td>
                                            <% wallet_stock.batch_cost = wallet_stock.investment_stock * wallet_stock.number_of_stock %>
                                            <% batch = (wallet_stock.batch_cost+((wallet_stock.batch_cost*0.0325)/100)+2.49) %>
                                            <td><%= batch.round(2) %> </td>
                                            <td><%= (batch/wallet_stock.number_of_stock).round(2) %> </td>
                                            <td>
                                              <div class="d-flex flex-column">
                                                <p><%= wallet_stock.stock.year_range_high %></p>
                                                <% average_year = (wallet_stock.stock.year_range_high + wallet_stock.stock.year_range_low)/2 %>
                                                <p><%= average_year.round(2) %></p>
                                                <p><%= wallet_stock.stock.year_range_low %></p>
                                              </div>
                                            </td>
                                            <td><%= wallet_stock.stock.price_now %> </td>
                                            <td><%= wallet_stock.stock.price_now <= (average_year) + 2/100 ? 'Cheap' : 'Expensive' %> </td>
                                            <% price_total = (wallet_stock.stock.price_now*wallet_stock.number_of_stock) %>
                                            <% balance = price_total - ((price_total*0.0325/100)+2.49) %>
                                            <td><%= wallet_stock.number_of_stock != 0 ? (((balance/batch) - 1)*100).round(2)  : 0 %>%</td>
                                            <td><%= wallet_stock.investment_stock > 0 ? balance.round(2) : 0 %> </td>
                                            <td><%= wallet_stock.investment_stock > 0 ? (balance - batch).round(2) : 0 %> </td>
                                            <td>
                                              <div class="d-flex flex-column">
                                              <% if mms5_status = "Down" && mms14_status = "Down"  && wallet_stock.stock.price_now < current_price %>
                                                <p> <%= "Sell" %> </p>
                                              <% elsif wallet_stock.stock.price_now <= current_price %>
                                                <p> <%= "Going Down" %> </p>
                                              <% else %>
                                                <p> <%= "Going Up" %> </p>
                                              <% end %>
                                              <p><%=mms14_status = "Down" ? "Downtrend" : "-" %></p>
                                              </div>
                                            </td>
                                            <td><%= link_to 'Destroy', wallet_stock, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-destroy rounded-pill" %></td>
                                        </tr>
                                       <% end %>

                                    </tfoot>

                                </table>

                            </div>

                        </div>

                    </div>
                     <div class="card shadow mt-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Your Investment</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group"><strong>Profit</strong></div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><strong>Loss</strong></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><strong>Something else here</strong></div>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                    <div class="card shadow my-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Add Stock</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                <%= simple_form_for([@wallet, @wallet_stock]) do |f| %>
                                  <%= f.input :date %>
                                  <%= f.input :number_of_stock %>
                                  <%= f.association :stock, collection: Stock.order(:name) %>
                                  <%= f.input :investment_stock %>
                                  <%= f.submit %>
                                <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
